[2018-03-07 16:39] fossilz commented on #257
I've found a way to get this working. I will close the issue.

[2018-03-07 16:39] #257 closed

[2018-03-07 20:00] dougbu opened #258 "Reduce spread of `[GeneralWebHook]` support"
Most of the WebHook constraints and filters do runtime look-ups (Linq queries) to find their metadata. This is decentralized even though it's not required for anything but actions with `[GeneralWebHook]` applied. Thought is to instead apply specific constraints and filters when processing the application model.

For the `[GeneralWebHook]` case, use different constraint and filter constructors that

[2018-03-07 20:01] dougbu commented on #258
Self-assigning because this needs to be done in the Preview2 milestone. Will otherwise be locked into the current approach.

[2018-03-07 20:03] dougbu commented on #258
@mkArtakMSFT doing this may reduce the size of other tasks and issues in this repo a bit. Issue is itself on the S / M border because it should mostly be mechanical.

[2018-03-07 20:04] dougbu commented on #258
BTW this is tied to main ASP.NET Core WebHooks 1.0.0 rock because `[GeneralWebHook]` actions are central to that.

[2018-03-07 21:18] dougbu commented on #179
1e89a0fb21

[2018-03-07 21:18] #179 closed

[2018-03-09 04:41] dougbu commented on #258
/fyi @rynowak

[2018-03-09 20:01] dougbu commented on #194
730adf3128

[2018-03-09 20:01] #194 closed

[2018-03-09 22:20] dougbu commented on #233
8f08e0c8ec

[2018-03-09 22:20] #233 closed

[2018-03-12 21:05] WestDiscGolf opened #260 "Last refactor broke the Github example due to GeneralWebHook"
After getting latest changes and re-running the Github sample, on start up an error occurs in `WebHookModelBindingProvider` in the `OnProviderExecuting` method.

It errors when registering the `FallbackHandler` from the github controller ...
[code]

The error occurs when it hits the following code ...
[code]
as there is no property for the `typeof(IWebHookBodyTypeMetadata)` for the GeneralWebHook.

[2018-03-12 21:14] WestDiscGolf commented on #260
Thinking maybe a general metadata class for the attribute to work from, or maybe a way to override the type it associated with.

Maybe an api like ...
[code]
... where you can override which type of meta data to use for the general web hook.

I've tried a hack of creating a GeneralMetadata class and registering it but didn't work and I'm missing something.

[2018-03-13 06:27] aspnet-hello commented on #15
This issue was copied to aspnet/Home#2951

[2018-03-13 06:28] aspnet-hello commented on #15
This issue was copied to aspnet/Home#2952

[2018-03-13 06:38] aspnet-hello commented on #15
This issue was copied to aspnet/AspNetWebHooks#15

[2018-03-13 06:40] aspnet-hello commented on #28
This issue was copied to aspnet/AspNetWebHooks#16

[2018-03-13 06:40] aspnet-hello commented on #51
This issue was copied to aspnet/AspNetWebHooks#17

[2018-03-13 06:41] aspnet-hello commented on #77
This issue was copied to aspnet/AspNetWebHooks#18

[2018-03-13 06:41] aspnet-hello commented on #84
This issue was copied to aspnet/AspNetWebHooks#19

[2018-03-13 06:41] aspnet-hello commented on #143
This issue was copied to aspnet/AspNetWebHooks#20

[2018-03-13 06:41] aspnet-hello commented on #147
This issue was copied to aspnet/AspNetWebHooks#21

[2018-03-13 06:42] aspnet-hello commented on #203
This issue was copied to aspnet/AspNetWebHooks#22

[2018-03-13 06:45] garora opened #261 "What issue/feature add/fix to what repository?"
@Eilon @HenrikFrystykNielsen - I am working on few new features and observed that these are getting moved to some new or existing repository. Can you please help me to understand this change to I would make sure that I am working on the right repository.

[2018-03-13 06:46] aspnet-hello commented on #150
This issue was moved to aspnet/AspNetWebHooks#23

[2018-03-13 06:46] #150 closed

[2018-03-13 06:46] aspnet-hello commented on #115
This issue was moved to aspnet/AspNetWebHooks#24

[2018-03-13 06:46] #115 closed

[2018-03-13 06:46] aspnet-hello commented on #157
This issue was moved to aspnet/AspNetWebHooks#25

[2018-03-13 06:46] #157 closed

[2018-03-13 06:47] Eilon commented on #261
Hi @garora , this repo is for Web Hooks on ASP.NET Core, and the https://github.com/aspnet/AspNetWebHooks repo is for Web Hooks on ASP.NET 4.x (System.Web). If you're planning on making a contribution please log an issue for discussion first and we can go from there. Thanks!

[2018-03-13 06:53] garora commented on #261
@Eilon -  I am doing contributions to WebHooks from its inception and you did approve many of my `PR` Currently, I am on OneDrive webhooks, please let me know do I need to post somewhere it or just send `PR` ?

[2018-03-13 07:06] Eilon commented on #261
@garora it's really important to us that there are issues logged so that we can:
1. Make sure the proposal is aligned with our goals for the project
2. To make it clear to anyone visiting the repo what work we did in each release

[2018-03-13 07:08] garora commented on #261
Ok, in that case let me revert back all my existing changes. I will start a
new thread on the feature OneDrive Hooks and after then will work on it. Is
that you proposed?

On Tue, Mar 13, 2018 at 12:36 PM Eilon Lipton <notifications@github.com>
wrote:

--
Thanks & Regards,
Gaurav Arora
Lifetime member CSI <http://www.csi-india.org/> | Microsoft MVP
<https://mvp.microsoft.com/en-us/PublicProfile/50

[2018-03-13 07:13] Eilon commented on #261
@garora I think always starting with logging an issue is the best way to go, thanks!

[2018-03-13 07:13] #261 closed

[2018-03-13 16:31] dougbu commented on #260
Thank you for your feedback. We're closing this issue as it is fixed in our working code base. More recent builds are available from https://dotnet.myget.org/gallery/aspnetcore-dev

This was a known temporary situation in 1e89a0fb21:

Fixed in 730adf3128 (merged two days later).

[2018-03-13 17:10] Eilon commented on #228
@dougbu moving this back to your plate to check if anything else needs to be done, then close.

[2018-03-13 17:30] WestDiscGolf commented on #260
I am experiencing the issue running the latest in the dev branch which has the referenced commit (https://github.com/aspnet/WebHooks/commit/730adf3128b60425157b53e248e1cea19dd74ad0) in it?

I've reset my local repository copy to make sure I have the latest ...
![image](https://user-images.githubusercontent.com/374343/37358712-ad9cc7a4-26e3-11e8-8155-e21479716989.png)
... and I am still getting the

[2018-03-13 17:48] dougbu commented on #260
Thanks for reporting this issue.

## Details
Ah, I see. Simple bug in `WebHookModelBindingProvider`'s check for the `typeof(IWebHookBodyTypeMetadata)` property. The property won't exist unless the user has chosen a `BodyType` when adding a `[GeneralWebHook]` attribute.

[2018-03-13 17:51] WestDiscGolf commented on #260
I've confirmed this by updating the controller action to be ...
[code]
And it starts up ok. Not tested the controller action though.

[2018-03-13 21:57] dougbu commented on #228
All set. In the background, I'll remove the duplicate ASP.NET WebHooks releases and tags from this repo.

[2018-03-13 21:57] #228 closed

[2018-03-14 22:49] dougbu opened #262 "Add support for form URL-encoded data in GitHub requests"
Add a way for users to switch to match GitHub's default request content type.

## Background
GitHub sends form URL-encoded data by default. However ASP.NET WebHooks supported only JSON data for GitHub and JSON has been the default choice in ASP.NET Core WebHooks since the original port. Since 730adf3128, ASP.NET Core WebHooks supports only JSON data. That is, ASP.NET Core WebHooks for GitHub is co

[2018-03-15 17:20] mkArtakMSFT commented on #180
Reducing the cost to fit into this milestone. The rest of the work will happen in the future milestones.

[2018-03-15 19:51] WestDiscGolf opened #263 "Github signature not required for setting up a webhook"
Question: As part of the Webhooks specification on https://developer.github.com/webhooks/securing/ it does not specify you have to use a secret value. The GithubWebhook implementation expects the signature header to exist. Are there any plans to support insecure hooks or is it expecting if using the aspnet webhook the setup has to have a secret key?

Just want clarification before I spend time loo

[2018-03-15 22:19] WestDiscGolf commented on #262
Adding in another attribute for a body type seems a little strange to me. Does it not go against the rest of the webhooks api surface design?

Is the solution not to allow for the GithubWebHookAttribute to default to WebHookBodyType of Json but allow to change it in the constructor so the usages would be eg:
[code]
and
[code]

Or

Didn't one of the webhooks in an earlier version have an option in

[2018-03-15 22:20] dougbu commented on #5
Added `cost - 0` since this is an umbrella tracking issue.

[2018-03-15 22:35] dougbu commented on #262
The concept of a receiver supporting multiple content types leads to some really fishy code. And, GitHub is the only sender I've seen that offers users a choice of content types. Lots of work for a unique case. That's why we removed this feature after a few iterations at it.

An `IOptions<T>` type (containing `ForceFormEncodingBody`) would fit fairly well in any framework layered on ASP.NET Core M

[2018-03-16 17:52] WestDiscGolf commented on #262
The receiver name switch depending on the body type passed in seems reasonable to me.

Are you thinking a required parameter in the constructor so no default constructor or will json be set as default for the current implementation? I'm leaning towards the default as json at the moment personally.

[2018-03-16 18:04] dougbu commented on #262
Yup, two constructors with JSON ("github" receiver name) being the default.

[2018-03-16 18:45] WestDiscGolf commented on #262
Sounds good. And a "githubform" receiver?

[2018-03-16 18:52] dougbu commented on #262
Possible names include `githubform`, `githubformencoded`, `githuburlencoded`, or any of those with `github` last e.g. `urlencodedgithub`. I don't have a strong leaning though I slightly prefer the variants with `github` last because it makes the added words seem like adjectives.

[2018-03-16 18:58] WestDiscGolf commented on #262
If keeping github at the end is preferred then I'd lean towards "formencodedgithub", although I think I prefer the provider at the beginning of the name so from the configuration you can tell from first few characters which provider it is. So leaning toward"s "githubformencoded".

[2018-03-16 19:27] dougbu commented on #248
I am unable to reproduce this issue. @pranavkm's test case may be different from mine.

Or, perhaps something changed since Preview1 in this area. I tested in the `dev` branch but will retest using Preview1 bits.

## Expected behavior (what I see)
MVC's `ApiBehaviorApplicationModelProvider` disallows use of `[ApiController]` and other `IApiBehaviorMetadata` attributes with actions that are not att

[2018-03-16 22:39] dougbu commented on #248
See the  same `InvalidOperationException` on startup of Preview1 application.

----
Slightly odd the application doesn't exit due to the startup `Exception`. It might as well crash since the same `Exception` occurs when a request arrives.

[2018-03-16 22:40] dougbu commented on #248
@pranavkm please respond if you're able to reproduce the starting-but-not-binding behaviour.

[2018-03-16 22:41] dougbu commented on #248
Temporarily assigning to @pranavkm.

I want it back regardless 😈 We need to at least triage the **One action** ideas.

[2018-03-17 02:24] dougbu commented on #260
349a1ea864

[2018-03-17 02:24] #260 closed

[2018-03-17 02:30] dougbu commented on #240
ec834ebabb

[2018-03-17 02:30] #240 closed

[2018-03-17 11:16] WestDiscGolf commented on #251
More for reference if someone else comes across this issue in the future I have written up a blog post on how to run the Github webhook locally and validate the payload with the signature - https://adamstorr.azurewebsites.net/blog/aspnetcore-webhooks-running-the-github-webhook

[2018-03-19 18:55] dougbu commented on #240
Merged to `dev` in 607d59b9e6

[2018-03-19 18:56] dougbu commented on #260
Merged to `dev` in 607d59b9e6

[2018-03-19 20:09] dougbu commented on #250
390ebbb258 in `release/2.1`
1aeaf69f87 merges this to `dev`

[2018-03-19 20:10] dougbu commented on #250
Ignore last comment

[2018-03-22 05:50] dougbu commented on #250
e4163deb1d in `release/2.1`
7545b61534 to merge this into `dev`

[2018-03-22 05:50] #250 closed

[2018-03-23 16:21] dougbu commented on #248
:bump:
@pranavkm please let me know how to reproduce your sadness.

[2018-03-27 04:56] dougbu opened #269 "Detect more `[WebHook]` conflicts with other attributes"
Splitting out from #248 (see [this comment](https://github.com/aspnet/WebHooks/issues/248#issuecomment-373820480)):

Suggest doing this work post-Preview2. Basically about clarifying error messages in problematic cases.

[2018-03-27 05:02] dougbu commented on #248
@pranavkm, some boilerplate just for you 😄: Thank you for your feedback. We're closing this issue as no updates have been provided in a timely manner and we have been unable to reproduce the issue. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-27 05:17] dougbu commented on #263
There are no plans to support insecure requests. Further, all WebHooks receivers require a secret key (or similar configuration) and use it to confirm requests came from the intended sender.

[2018-03-27 05:25] WestDiscGolf commented on #263
No problem, good to know.

[2018-03-27 05:25] #263 closed

[2018-04-02 17:29] dougbu commented on #180
Made some progress on this in Preview 2. Moving rest (including functional tests!) to RC 1.

[2018-04-04 20:25] pranavkm commented on #248
Reopening since there's a repro. I did a `dotnet new webapi` and replaced the body of `ValuesController` with a `GitHubWebHook`:

[code]

If I have `ApiControllerAttribute`, the log does not have a value for `id`. Removing it prints a value for the `id` parameter when a webhook request is delivered.

[2018-04-08 21:35] WestDiscGolf commented on #258
Any update on the above and associated pull request? is this the last large change which will be going in before the full aspnet core 2.1 release?

Cheers

[2018-04-09 04:11] dougbu commented on #258
Have been doing other things but will get back to this soon.

Not necessarily. Why do you ask?

[2018-04-09 06:06] WestDiscGolf commented on #258
Thanks for the update. I've been working on a Webhook that I want to nuget up but have been developing it in this solution to aid with debugging and getting the latest changes as the library has been developing. Just curious how much I'd have to tweak before I can get a preview out based on a stable nuget :-)

[2018-04-10 19:41] dougbu commented on #258
Reduced cost to track the review process that remains in this milestone.

[2018-04-10 19:43] dougbu commented on #180
Increased cost in hopes we can make more headway in this milestone.

[2018-04-10 19:48] dougbu commented on #269
Clearing the milestone. Need to discuss whether to address #248 or this issue during RC1.

[2018-04-10 19:53] dougbu commented on #244
Self-assigning this and two other bugs because we want them done in RC1.

@mkArtakMSFT please add `cost: XS` label in this repo. This issue and #247 fit in that bucket. Perhaps #245 too.

[2018-04-11 22:28] dougbu commented on #258
c9ab0b4ede

[2018-04-11 22:28] #258 closed

[2018-04-12 04:40] codermrrob opened #274 "Any custom receiver examples?"
Great work, it is coming to fruition just as we need to build .Net Core Webhook receivers. I need to build custom receivers for a variety of systems not covered in the out-of-the box receivers. Can you point me at an example for custom receiver development. I've been searching around for a day or two but not finding anything. Thanks.

[2018-04-12 15:35] WestDiscGolf commented on #274
@codermrrob I am currently working on a fitbit one which, once this library stablises and generates a nuget pacakge, I will be publishing in it's own repository and packaging to nuget etc.

However until that point I have found that it's easier to develop it in the WebHooks solution as it gets the latest package references and you can debug into the library easily.

If you want to take a look my c

[2018-04-12 21:39] WestDiscGolf opened #275 "Latest commit has broken at least the Github and Azure Alert examples"
On running the latest dev branch in the repo I now get the following error when running the Github and and Azure Alert example projects.

![image](https://user-images.githubusercontent.com/374343/38705625-13ca7dd4-3ea2-11e8-9b38-fb6276f700e4.png)

I thought it was just mine when I merged in the latest changes but unfortunately not :-(

[2018-04-13 08:55] codermrrob commented on #274
thanks... I had just realized the same, that better to develop it in the WebHooks solution. Cheers for your fitbit link.

[2018-04-13 08:55] #274 closed

[2018-04-13 16:52] dougbu commented on #245
Updated [previous comment](https://github.com/aspnet/WebHooks/issues/245#issuecomment-365698313). Since user has control of the secret keys they use and the corresponding SQL schema, database restrictions are _not_ a good reason to keep the maximum length restrictions.

[2018-04-13 19:31] dougbu commented on #245
30897e047f

[2018-04-13 19:31] #245 closed

[2018-04-14 01:17] dougbu commented on #248
13da6ec8ac

[2018-04-14 01:17] #248 closed

[2018-04-14 01:42] dougbu commented on #275
Yup, I left a bit out of #258 / c9ab0b4ede. Fix is already out for review, see #277.

[2018-04-14 12:05] WestDiscGolf commented on #275
Cool, thanks! I've merged it in before it made the main branch so I can continue. Will let you know how it goes :-)

[2018-04-17 09:03] WestDiscGolf commented on #180
@dougbu Are all the items in the 1.0.0-rc1 milestone the items which will make the release for when aspnetcore 2.1 is RTM'd? Are there others?

I am assuming this library is on the same release cycle ...

[2018-04-17 15:57] dougbu commented on #180
@WestDiscGolf of the still-open 1.0.0 RC1 issues, #275 should be included in the RC1 release. #180 is about engineering debt and, though I'm working on it now, isn't destined for our 2.1 branches.

Bottom line, the milestone of this issue isn't correct. We'll decide on the correct way to handle it later today.

[2018-04-17 16:37] WestDiscGolf commented on #180
@dougbu thanks for letting me know. Looking forward to the nuget release so I can release the one I've been working on.

Are any of the tests up for grabs? If I can find some time I'd like to contribute :-)

[2018-04-17 17:08] dougbu commented on #180
Not at the moment. I may reach out to you (here) if I can't find sample messages for all services. But, coordination at the sub-issue level will get complicated. And, I'm making good progress 😄

[2018-04-17 18:09] WestDiscGolf commented on #180
OK, no worries :-)

[2018-04-17 22:52] WestDiscGolf opened #282 "Unable to install the nuget package from myget"
I've tried installing the last 3 nuget package versions from ...
https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.WebHooks.Receivers
... and get the following errors:
[code]

This was done into netstandard 2 project with the latest preview of aspnetcore 2.1 installed.

What am I missing?

[2018-04-17 23:01] dougbu commented on #275
- eecaac30c5 in `release/2.1`
- fd964d12a9 merged that into `dev`

[2018-04-17 23:01] #275 closed

[2018-04-18 19:02] WestDiscGolf commented on #282
Added the myget feed to the package manager config and ran it without the source. Closing :)

[2018-04-18 19:02] #282 closed

[2018-04-19 11:18] WestDiscGolf opened #283 "Versioning query"
I have added in the nuget package ...
https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.WebHooks.Receivers/1.1.0-preview1-34007
... into my project however it says it depends on ...
[code]
Does this mean they are not going to be part of the aspnetcore 2.1 release? I thought it was due to be released as part of 2.1?

[2018-04-19 17:16] WestDiscGolf commented on #283
On further investigation, am I to assume the aspnetcore 2.1 release will correspond to the https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.WebHooks.Receivers/1.0.0-rc1-30611 ?

[2018-04-20 21:33] dougbu commented on #180
Part 1 of test-only commits in 0eaf1540b8

[2018-04-21 18:44] dougbu commented on #180
Part 2 of test-only commits in d9c0651482. 65dcad481b merged that to `dev`.

[2018-04-23 14:52] Yusha813 opened #289 "Please add support for the Vend API"
Hello, I am trying to use the WebHooks feature to receive posts from the [Vend API](https://docs.vendhq.com/docs/webhooks). Please add a NuGet package for this.

[2018-04-23 16:42] dougbu opened #290 "Add more tests of ASP.NET Core receivers"
Follow-on work item for #180.

Remaining work includes at least:
- add functional tests involving signature verification, including unused Stripe and Trello resources
  - [ ] Dropbox
  - [ ] GitHub
  - [ ] Pusher
  - [ ] Stripe
  - [ ] Trello
- add functional tests involving request bodies for the samples still missing them
  - [ ] DynamicsCRM
  - [ ] MailChimp
  - [ ] Slack
- add functional tests

[2018-04-23 17:00] dougbu opened #291 "Remove ambiguity between general WebHook action and receiver-specific action"
With the following WebHook actions
[code]
A request to https://localhost/api/webhooks/incoming/github should match the `GitHubHandler(...)` action. Instead, the request results in an error:
[code]

This issue is not specific to the GitHub receiver. Instead, it's an unintended side effect of using the same constraint (`WebHookReceiverNameConstraint`) for both `[GeneralWebHook]` and receiver-specifi

[2018-04-23 17:58] dougbu commented on #291
Self-assigning because I'd otherwise need to work around this issue in my #290 efforts. That workaround would then need to be removed once we fix this.

[2018-04-23 18:44] Yusha813 commented on #290
Can you add the Vend API to this list as well please?

[2018-04-23 19:03] dougbu commented on #283
Yes, that's how the versions align.

[2018-04-23 19:05] dougbu commented on #290
@Yusha813 you've already opened an issue about supporting the Vend API. Testing should be added as part of #289 or after that work is done. There's no action to take here in the meantime.

[2018-04-24 05:03] dougbu commented on #291
de678debde

[2018-04-24 05:03] #291 closed

[2018-04-24 21:38] dougbu commented on #289
@Yusha813 we've moved this issue is in the Backlog milestone. This means that it is not going to happen for the coming release. We will review the backlog and consider this ask in the future.

[2018-04-28 15:40] gblmarquez opened #293 "Sending WebHooks"
Hi,

What about the roadmap for Sending WebHooks?
There is any recommendation/library/sdk now for that?

[2018-04-30 18:55] pranavkm opened #294 "Specifying WebHookBodyType.Form continues to allow application/json"
Not sure if this is the expected behavior, but it seemed anomalous. I started with a `GitHubWebHookAttribute` on an action and replaced it with a `GeneralWebHook`. I configured the appsettings.json and restarted the site. Sending payloads from GitHub worked. I edited the `bodyType` for the parameter to `WebHookBodyType.Form` but I continue to see the requests go through:

Controller:
[code]

GitHu

[2018-05-01 18:17] WestDiscGolf opened #295 "New package for aspnet core 2.1 final 2"
Hi,

When will there be a new myget package which works with aspnet core 2.1 final 2? - https://blogs.msdn.microsoft.com/webdev/2018/04/12/asp-net-core-2-1-0-preview2-now-available/

The last package for [2.1](https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.WebHooks.Receivers/1.0.0-rc1-30677) is against `Microsoft.AspNetCore.Mvc.Core (>= 2.1.0-rc1-30677)`?

Thanks

[2018-05-02 12:12] WestDiscGolf commented on #295
As of this morning there appears to be a new package :-)

https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.WebHooks.Receivers/1.0.0-rtm-30697

[2018-05-02 20:53] #295 closed

[2018-05-03 22:46] dougbu commented on #293
Thanks for reporting this issue. We'll consider your feedback as part of an existing issue we're tracking at #183.

[2018-05-03 22:46] #293 closed

[2018-05-03 22:54] dougbu commented on #294
Placing onto the backlog, pending customer requests in this area.

[2018-05-04 11:06] WestDiscGolf commented on #295
For reference; 30697 I found had issues the newer 30700 seems to be more positive (so far). This is mainly around the rest of the ecosystem to test the change than the Webhooks package itself.

[2018-05-04 21:55] danroth27 opened #296 "ASP.NET Core WebHooks moved out of ASP.NET Core 2.1"
Discussion for https://github.com/aspnet/Announcements/issues/299

------

We are moving ASP.NET Core WebHooks out of the ASP.NET Core 2.1 to give more time to validate the design and implementation. We will continue to ship previews ASP.NET Core WebHooks packages, but they not ship as stable packages as part of the ASP.NET Core 2.1 release.

### Why?

[ASP.NET Core WebHooks](https://github.com/as

[2018-05-04 22:05] dougbu opened #297 "Move version back to 1.0.0-preview3"

[2018-05-04 22:27] dougbu commented on #297
@mkArtakMSFT to avoid pushing newer-looking packages to https://dotnet.myget.org/gallery/aspnetcore-dev, this needs to go into the `release/2.1` branch.

[2018-05-04 23:32] mkArtakMSFT commented on #297
I'm removing the "SHP: Approval pending" label as we've already agreed that this is not going to ship as part of 2.1.0 release.

[2018-05-04 23:38] dougbu commented on #290
Parking in dougbu/add.functional.tests.290.1 branch

[2018-05-08 04:48] dougbu commented on #297
0f7a7c73df

[2018-05-08 04:48] #297 closed

[2018-05-08 19:10] dougbu commented on #297
Cherry-picked change into `release/2.1` as 5815691af6

[2018-05-09 19:42] WestDiscGolf commented on #296
Thanks for the update @danroth27. I can't deny I'm a little disappointed to hear this but completely understand the reasoning. It's better to have good quality than ship something early and not be happy with it :-)

I have been working on [my own webhook](https://github.com/WestDiscGolf/Fitbit.Net-Webhook) which I will update with the latest preview packages as they come.

Will there be opportunit

[2018-05-17 22:06] dougbu commented on #290
Suggest we un-assign this issue, remove the `Mapped to Big Rock` label, and move it to the `1.0.0-preview3` milestone

[2018-05-17 22:11] dougbu commented on #5
Suggest we un-assign this issue and remove the `Mapped to Big Rock` label.

Alternatively, could close this issue as well as aspnet/Specs#103.

[2018-05-23 19:05] julioct opened #304 "Azure Container Registry webhook receiver contribution"
Hi all, I created a webhook receiver for Azure Container Registry that I've been using successfully in a project for a while. So decided to contribute it back to this repo:

#303 [Add the Azure Container Registry webhook receiver](https://github.com/aspnet/WebHooks/pull/303)

Please let me know if you are looking for anything else to get this contribution in.

Julio

[2018-05-24 06:03] sajayantony commented on #304
/cc @glennc

[2018-05-25 17:01] mkArtakMSFT commented on #304
Hi @julioct. Thanks for your PR.

While we are happy seeing PRs from the community, it takes some effort from us to both review and later on maintain it.
At the moment, we're heads down finishing up 2.1 milestone for ASP.NET Core and Preparing for the next 2.2 milestone. WebHooks is not really a priority for that milestone, so we'd like to reduce the churn in that area at the moment, to stay focus

[2018-05-25 20:14] Havret commented on #183
As I said here #301 I am working on sender package on my fork https://github.com/Havret/WebHooks

I have ported sender package from original WebHooks project to ASP.NET Core and made some changes in the notification model. We were using the 1:1 port for a while at work, but it turned out that the format of WebHook massages was hard to consume by our clients.

For those who are not familiar with th

[2018-05-30 15:30] NenoLoje opened #305 "Will WebHooks.Receivers.VSTS be ported to .NET Core / .NET Standard 2.0?"
Are there plans to port the [VSTS receiver](https://github.com/aspnet/AspNetWebHooks/tree/dev/src/Microsoft.AspNet.WebHooks.Receivers.VSTS) from the old repo ([AspNetWebHooks](https://github.com/aspnet/AspNetWebHooks)) to this one ([WebHooks](https://github.com/aspnet/WebHooks))?

Thanks,
--Neno

[2018-05-30 18:38] tpeczek commented on #296
Is there a plan to make 1.0.0-preview3-final available on NuGet? Currently it's only on MyGet.

[2018-05-30 18:42] WestDiscGolf commented on #296
@tpeczek none of the others, AFAIK, have been put on nuget so doubt it. I had to add the myget feed for my Webhook. Hoping more info in the 2.2 time frame will come out soon :-)

[2018-05-30 18:48] tpeczek commented on #296
@WestDiscGolf 1.0.0-preview1-final and 1.0.0-preview2-final are on NuGet and you can use them. I'm also using MyGet rigth now, but with ASP.NET Core 2.1.0 RTM out I was hoping to switch my project back to NuGet. The only thing stopping me is absence of 1.0.0-preview3-final.

[2018-05-30 18:50] WestDiscGolf commented on #296
@tpeczek ah cool. Dont think I realised. When it was dropped from the 2.1 timeframe other stuff, both tech and personal, got in the way. Hope to pick it back up again once more info on 2.2 is released.

[2018-06-02 19:14] WestDiscGolf commented on #296
@tpeczek Just checked and 1.0.0-preview3-final isn't on myget anymore :-(

@danroth27 / @dougbu Any update on 1.0.0-preview3-final on nuget?

[2018-06-02 20:27] tpeczek commented on #296
@WestDiscGolf It looks like it's still there: https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.AspNetCore.WebHooks.Receivers/1.0.0-preview3-final

[2018-06-02 20:29] WestDiscGolf commented on #296
@tpeczek Thanks for that. I thought I'd tried that but must have missed typed it :-)

[2018-06-07 14:56] robertmiles3 opened #307 "Add support for user-specified route template"
For OCD-ish people like myself, I'd love to be able to change the route template. I already have "api" in my subdomain, so it's a bummer to also see it in the path (ie: `/api/webhooks/incoming`) as well.

I see from [here](https://github.com/aspnet/WebHooks/blob/13da6ec8ac8bab0b4fc7389dcc9352a4855cf8aa/src/Microsoft.AspNetCore.WebHooks.Receivers/ApplicationModels/WebHookSelectorModelProvider.cs#L1

[2018-06-12 21:31] dougbu commented on #305
We have no such plans to support the VSTS receiver at this time.

[2018-06-12 21:31] #305 closed

[2018-06-12 21:32] dougbu commented on #307
We have no plans to implement this feature at this time. If our priorities change in the future, we may reconsider.

[2018-06-12 21:32] #307 closed

[2018-06-19 20:44] alexdresko opened #309 "Creating webhooks?"
The description on https://github.com/aspnet/aspnetwebhooks states:

Does this project also support creating webhooks?

Suppose I want to allow users configure where to push event information from within my application. For example, when a new user is created in my application, a user might configure the system to push that data to IFTT or Zapier.

Is this the kind of utility library I need, or do

[2018-06-19 20:49] alexdresko commented on #309
That moment when you created an issue because you couldn't find anything after searching for a while, but immediately find what you're looking for after you submit the new issue.

Flesh out ASP.NET Core sender packages · Issue #183 · aspnet/WebHooks
https://github.com/aspnet/WebHooks/issues/183

Sending WebHooks · Issue #293 · aspnet/WebHooks
https://github.com/aspnet/WebHooks/issues/293

Migrate

[2018-06-25 08:54] davesmits opened #310 "Microsoft.AspNetCore.WebHooks.Receivers.AzureContainerRegistry doens't open in Visual Studio 2017"
I am trying to get everything running in VS2017 but when opening the solution it wants to migrate the Microsoft.AspNetCore.WebHooks.Receivers.AzureContainerRegistry. If I do this it's an empty project.
I don't see anything weird inside the project file what can cause this and some help would be apricated!

As mentioned earlier I got a working port to core from the orginal webhook sender packages a

[2018-07-01 07:30] ericbrunner commented on #309
@alexdresko I search for Webhook Sender sample code, too. Did you get some help or have progress with that?

[2018-07-02 09:29] ericbrunner commented on #309
Hi @alexdresko , Thanks for your detailed reply. I guess they are a bit busy with the WebHook Sender part

[2018-07-11 02:08] dougbu commented on #310
@davesmits thanks for reporting this issue. Unfortunately, it does not reproduce for me.

In some cases, it's necessary to run at least the initial part of a command line build (`.\build.cmd /t:restore`) before opening Visual Studio. This ensures the correct SDK is available.

If that doesn't work, heed the warnings from `dotnet-install` at the top of the build's output about changing your `Path`

[2018-07-11 07:37] davesmits commented on #310
your first suggestion solved the issue

[2018-07-11 07:37] #310 closed

[2018-07-11 07:39] davesmits commented on #309
I got a sample here: https://github.com/davesmits/WebHooks/tree/feature/custom ; I ported the .net framework sender packages and using the .net core standard receiver

[2018-07-11 10:09] alexdresko commented on #309
@davesmits Since you have some experience with this, can you explain the difference between my custom solution [here](https://github.com/aspnet/WebHooks/issues/309#issuecomment-401613757) and what the webhook framework does? It's not well documented, and I'm concerned that my custom solution isn't suitable longterm.

[2018-07-12 13:43] davesmits commented on #309
well webhooks provide a api to register / unregister webhooks.
retry of the calls + handling http responses in a right way
let the authenticated user register webhooks and able to send webhooks to the right users
echo verification when registering a webhook
filter mechanism for event types

[2018-07-16 08:08] vankampenp commented on #296
What is the best place to discuss the functionality of webhooks in 2.x?
I am missing a way to create a custom webhook, or at least lack the understanding how to do that :-)
There were two webhook consumers that I would like to integrate, but each are different from the once that are provided. For example WooCommerce on Wordpress uses JSON, so it is not compatible with the Wordpress webhook.

[2018-07-16 08:17] tpeczek commented on #296
@vankampenp

If what you are really looking for is creating your own custom webhook receiver you may find my blog series useful: [Under the hood of ASP.NET Core WebHooks](https://www.tpeczek.com/2018/05/under-hood-of-aspnet-core-webhooks.html)

You may also want to take a look at coupel early custom receivers implementations:
- [Fitbit.Net-Webhook](https://github.com/WestDiscGolf/Fitbit.Net-Webhoo

[2018-07-16 08:30] WestDiscGolf commented on #296
@vankampenp I documented my investigation of the the early webhooks and writing the fitbit one. Check out [my blog series](https://adamstorr.azurewebsites.net/blog/aspnetcore-webhooks-mini-series). Hope this helps.

[2018-07-24 21:33] dougbu commented on #309
There are two WebHooks repos we manage: https://github.com/aspnet/WebHooks (this one) is about receiving WebHooks in ASP.NET Core applications. https://github.com/aspnet/AspNetWebHooks is about sending or receiving WebHooks in ASP.NET (i.e. .NET Framework) applications.

[2018-07-24 21:54] ericbrunner commented on #309
@dougbu  Thanks for clarification. Is there a plan for custom Webhook sendervin Asp.Net Core? The custom Webhook sender from Asp.Net can't be used in an Asp.Net Core 2.x App.

[2018-07-25 19:05] ryanbrandenburg opened #313 "Flaky test: WebHookAction_NoBody_IsBadRequest"
This test [fails](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]

[2018-07-25 19:05] ryanbrandenburg commented on #313
WebHookAction_NoBody_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:05] ryanbrandenburg opened #314 "Flaky test: WebHookAction_NonPost_IsNotAllowed"
This test [fails](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]

[2018-07-25 19:05] ryanbrandenburg opened #315 "Flaky test: WebHookAction_NoEventHeader_IsNotFound"
This test [fails](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]

[2018-07-25 19:05] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:05] ryanbrandenburg commented on #315
WebHookAction_NoEventHeader_IsNotFound [failed again](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:05] ryanbrandenburg opened #316 "Flaky test: WebHookAction_WrongCode_IsBadRequest"
This test [fails](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]

[2018-07-25 19:06] ryanbrandenburg commented on #316
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:06] ryanbrandenburg opened #317 "Flaky test: WebHookAction_NoUUID_IsBadRequest"
This test [fails](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]

[2018-07-25 19:06] ryanbrandenburg commented on #317
WebHookAction_NoCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=514940&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:29] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514945&buildTypeId=XPlat_Windows_Win8_Universe).

[2018-07-25 19:29] ryanbrandenburg commented on #313
WebHookAction_NoCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=514945&buildTypeId=XPlat_Windows_Win8_Universe).

[2018-07-25 19:29] ryanbrandenburg commented on #317
WebHookAction_NoCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=514945&buildTypeId=XPlat_Windows_Win8_Universe).

[2018-07-25 19:29] ryanbrandenburg commented on #316
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=514945&buildTypeId=XPlat_Windows_Win8_Universe).

[2018-07-25 19:30] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514945&buildTypeId=XPlat_Windows_Win8_Universe).

[2018-07-25 19:32] ryanbrandenburg commented on #313
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=514893&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

[2018-07-25 19:32] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514893&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

[2018-07-25 19:32] ryanbrandenburg commented on #316
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514893&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

[2018-07-25 19:32] ryanbrandenburg commented on #317
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514893&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

[2018-07-25 19:32] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514893&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

[2018-07-25 19:39] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=514895&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:39] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514895&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:39] ryanbrandenburg commented on #313
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=514895&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:39] ryanbrandenburg commented on #317
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=514895&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 19:39] ryanbrandenburg commented on #315
WebHookAction_NoEventHeader_IsNotFound [failed again](http://aspnetci/viewLog.html?buildId=514895&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

[2018-07-25 20:29] Eilon commented on #316
@dougbu - Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this test failure caused by product code flakiness? (Either this product, or another product this test depends on.)
  * [ ] File a bug against the product (TODO: Link to other bug)
  * Is it possible to change the test to avoid the flakin

[2018-07-25 20:29] Eilon commented on #314
@dougbu - Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this test failure caused by product code flakiness? (Either this product, or another product this test depends on.)
  * [ ] File a bug against the product (TODO: Link to other bug)
  * Is it possible to change the test to avoid the flakin

[2018-07-25 20:30] Eilon commented on #313
@dougbu - Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this test failure caused by product code flakiness? (Either this product, or another product this test depends on.)
  * [ ] File a bug against the product (TODO: Link to other bug)
  * Is it possible to change the test to avoid the flakin

[2018-07-25 20:34] dougbu commented on #313
Thanks @ryanbrandenburg and @Eilon. I wasn't aware tests in this repo were anything but rock solid.

[2018-07-25 20:45] dougbu opened #318 "Need to either disable Global Routing or "onboard" this repo"
Tests are failing due to `AmbiguousMatchException`s which likely relate to Global Routing. Tests are about to be disabled but we should fix the product code.

See #313 #314 #315 #316 #317

[2018-07-25 20:49] dougbu commented on #317
See #318 for product bug

[2018-07-25 20:49] dougbu commented on #316
See #318 for product bug

[2018-07-25 20:49] dougbu commented on #315
See #318 for product bug

[2018-07-25 20:49] dougbu commented on #314
See #318 for product bug

[2018-07-25 20:49] dougbu commented on #313
See #318 for product bug

[2018-07-25 21:13] ryanbrandenburg commented on #317
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515163&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:13] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515163&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:13] ryanbrandenburg commented on #313
WebHookAction_NonGetOrPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515163&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:13] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515163&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:14] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515163&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:16] ryanbrandenburg commented on #317
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514938&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:16] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514938&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:16] ryanbrandenburg commented on #313
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=514938&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:16] ryanbrandenburg commented on #316
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=514938&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 21:16] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=514938&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 22:42] Eilon commented on #315
@dougbu - please update the "TODO" items in the workflow to reflect the status.

[2018-07-25 23:02] ryanbrandenburg commented on #313
WebHookAction_NonGetOrPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515414&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:02] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515414&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:02] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515414&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:02] ryanbrandenburg commented on #317
WebHookAction_NoEventHeader_IsNotFound [failed again](http://aspnetci/viewLog.html?buildId=515414&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:02] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515414&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:04] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515284&buildTypeId=XPlat_HighSierraOsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:04] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515284&buildTypeId=XPlat_HighSierraOsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:04] ryanbrandenburg commented on #313
WebHookAction_NonGetOrPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515284&buildTypeId=XPlat_HighSierraOsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:05] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515284&buildTypeId=XPlat_HighSierraOsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:05] ryanbrandenburg commented on #317
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515284&buildTypeId=XPlat_HighSierraOsxUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:30] ryanbrandenburg commented on #317
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515280&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:30] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515280&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:30] ryanbrandenburg commented on #313
WebHookAction_NoCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515280&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:30] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515280&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:30] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515280&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:40] dougbu commented on #318
Revert fad82fdb23 when this bug is fixed

[2018-07-25 23:53] ryanbrandenburg commented on #317
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515142&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:53] ryanbrandenburg commented on #313
WebHookAction_NoBody_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515142&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:54] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515142&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:54] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515142&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-25 23:54] ryanbrandenburg commented on #315
WebHookAction_NoEventHeader_IsNotFound [failed again](http://aspnetci/viewLog.html?buildId=515142&buildTypeId=XPlat_Windows_Win10Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:00] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515667&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:00] ryanbrandenburg commented on #317
WebHookAction_NoEventHeader_IsNotFound [failed again](http://aspnetci/viewLog.html?buildId=515667&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:00] ryanbrandenburg commented on #313
WebHookAction_NoCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515667&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:01] ryanbrandenburg commented on #316
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515667&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:01] ryanbrandenburg commented on #315
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515667&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:24] ryanbrandenburg commented on #317
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515586&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:24] ryanbrandenburg commented on #313
WebHookAction_NoBody_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515586&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:24] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515586&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:24] ryanbrandenburg commented on #315
WebHookAction_NoEventHeader_IsNotFound [failed again](http://aspnetci/viewLog.html?buildId=515586&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 01:24] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515586&buildTypeId=Lite_UniverseTest).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:01] ryanbrandenburg commented on #313
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=515731&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:01] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515731&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:01] ryanbrandenburg commented on #317
WebHookAction_NoUUID_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515731&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:01] ryanbrandenburg commented on #316
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=515731&buildTypeId=XPlat_Mac_MacUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:02] ryanbrandenburg commented on #313
WebHookAction_Get_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=515729&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:02] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515729&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:03] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515729&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 03:03] ryanbrandenburg commented on #317
WebHookAction_NoCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515729&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 05:21] ryanbrandenburg commented on #313
WebHookAction_WithNoOrganizationId_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515716&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 05:21] ryanbrandenburg commented on #316
WebHookAction_WrongCode_IsBadRequest [failed again](http://aspnetci/viewLog.html?buildId=515716&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 05:21] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515716&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 05:21] ryanbrandenburg commented on #317
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=515716&buildTypeId=XPlat_Windows_Win7_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 07:29] ryanbrandenburg commented on #313
WebHookAction_NonGetOrPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515720&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 07:29] ryanbrandenburg commented on #317
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=515720&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 07:30] ryanbrandenburg commented on #316
WebHookAction_WithBody_Succeeds [failed again](http://aspnetci/viewLog.html?buildId=515720&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 07:30] ryanbrandenburg commented on #314
WebHookAction_NonPost_IsNotAllowed [failed again](http://aspnetci/viewLog.html?buildId=515720&buildTypeId=XPlat_Windows_Win2008r2_Universe).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-26 13:49] vankampenp commented on #296
@tpeczek and @WestDiscGolf, thanks these are useful. I had hoped to get an example that shows how to override some methods to allow you to customize the webhook, rather than changing the available source. But maybe this is the root. I will post an issue.

[2018-07-26 17:50] Eilon commented on #318
@dougbu do we know that it's a bug in WebHooks product code or could it be an issue in Global Routing? (cc @rynowak @JamesNK @kichalla )

[2018-07-26 18:01] rynowak commented on #318
I've thought about this more, and I'm treating this as a bug in routing. Given our other discussions so far related to 2.2's routing features, I plan to make changes to MVC that will make webhooks 'just work'

[2018-07-26 18:06] dougbu commented on #318
@rynowak should we close this issue (maybe label it `external`) and open something similar in aspnet/Routing? The new bug could link to aspnet/WebHooks@bedc118aef as a commit to revert when it's fixed.

[2018-07-26 18:14] rynowak commented on #318
Sure, feel free to link to this one. https://github.com/aspnet/Routing/issues/630 I've added verifying that webhooks works with global routing to that issue's checklist.

[2018-07-26 18:21] dougbu commented on #318
Closing as described above. aspnet/Routing#630 covers moving aspnet/WebHooks into the new world.

[2018-07-26 18:21] #318 closed

[2018-07-26 19:45] rynowak commented on #313
/cc @Eilon meta: https://github.com/aspnet/WebHooks/issues/313#issuecomment-407885142

This wasn't flaky, it's a legit functional break. Should we add a checkbox for that?

[2018-07-27 05:40] Eilon commented on #313
@rynowak yeah that makes sense. I'll work with @ryanbrandenburg (the human, not the bot) on a "step #0" for that.

[2018-08-01 03:09] JamesNK opened #321 "Change MvcOptions.EnableGlobalRouting to EnableEndpointRouting"
The EnableGlobalRouting property is being renamed! I have left the old property around to not break WebHooks during the transition.

When deps have updated I will send a webhooks PR to replace old and busted with new hotness.

[2018-08-03 01:42] #313 closed

[2018-08-03 01:42] #317 closed

[2018-08-03 01:42] #316 closed

[2018-08-03 01:42] #315 closed

[2018-08-03 01:42] #314 closed

[2018-08-03 01:45] dougbu commented on #313
@rynowak much appreciated.

Is this `done`? And, should the workflow [above](https://github.com/aspnet/WebHooks/issues/313#issuecomment-407885142) be updated?

[2018-08-03 01:45] dougbu commented on #314
@rynowak much appreciated.

Is this `done`? And, should the workflow [above](https://github.com/aspnet/WebHooks/issues/314#issuecomment-407885062) be updated?

[2018-08-03 01:46] dougbu commented on #315
@rynowak much appreciated.

Is this `done`? And, should the workflow [above](https://github.com/aspnet/WebHooks/issues/315#issuecomment-407884752) be updated?

[2018-08-03 01:47] dougbu commented on #316
@rynowak much appreciated.

Is this `done`? And, should the workflow [above](https://github.com/aspnet/WebHooks/issues/316#issuecomment-407885000) be updated?

[2018-08-03 01:48] dougbu commented on #317
@rynowak much appreciated.

Is this `done`? And, should the workflow [above](https://github.com/aspnet/WebHooks/issues/317#issuecomment-407884896) be updated?

[2018-08-03 01:49] dougbu commented on #321
@JamesNK I believe this issue is no longer valid. @rynowak just checked in 216a4a7290 and that eliminated use of the `EnableGlobalRouting` property in this repo.

[2018-08-03 01:58] rynowak commented on #321
Yep, nothing to do here.

[2018-08-03 01:58] #321 closed

[2018-08-03 15:52] Eilon commented on #317
As long as the underlying issue was resolved, just closing is fine.

[2018-08-03 22:29] dougbu commented on #5
@mkArtakMSFT @danroth27 @Eilon similar to aspnet/specs#103, I suggest we close this issue. Agreed?

[2018-08-03 23:48] danroth27 commented on #5
I think we can close this since implementing WebHooks support for ASP.NET Core is what this repo is all about.

[2018-08-03 23:48] #5 closed

[2018-08-28 17:16] lsuarez5280 commented on #296
Since this is also going to miss the 2.2 milestone, do we know where this is going to fall on the roadmap? This is seconds from being pushed over the finish line and I'd like to update our existing Framework-based webhook receivers to this library.

[2018-08-28 17:30] Eilon commented on #296
@danroth27 / @DamianEdwards - do we have an updated roadmap for this?

[2018-08-28 17:33] WestDiscGolf commented on #296
I can't help but feel this is going to wait for the new fully opened End Point Routing middleware coming in v3. I just feel like with the clashing of the apicontroller attribute work and the hard coded routing in the webhooks it makes sense that it will use the new middleware when it arrives

[2018-08-28 21:22] nnoorbakhsh opened #323 "Dependency to Microsoft.Tpl.Dataflow does not allow package manager console to update or reinstall all packages in a solution in one shot."
I believe the dependency to Microsoft.Tpl.Dataflow should be removed, and most probably replaced with System.Threading.Tasks.Dataflow. The mentioned dependency causes package manager console to fail when trying to update or reinstall all Nuget packages in a solution (e.g. using update-package -reinstall), forcing the user to reinstall packages one-by-one, which can be tedious in a very large solut

[2018-08-30 13:17] forrestab opened #324 "TrimmingTokenizer.cs not available"
I am creating a webhook receiver and need to verify the signature. I am following the slack signature verification filter, but it uses the `TrimmingTokenizer` class and that does not appear to be available in the latest `Microsoft.AspNetCore.WebHooks.Receivers` package.

Is it in another package, am I missing something?

[2018-08-31 04:30] ankitbko opened #325 "Project Roadmap"
Is this still being developed? Do we have a timeline or roadmap for this?

I am currently using myget feed, have we published this to nuget.org as well?

[2018-09-04 22:01] dougbu commented on #324
We do not plan to make this utility generally available.

If you're creating your receiver in a fork of the aspnet/WebHooks repo, suggest doing as the Slack receiver does in its project file: https://github.com/aspnet/WebHooks/blob/9bdc69147f8a51b974bdd4179e47bc006e823d00/src/Microsoft.AspNetCore.WebHooks.Receivers.Slack/Microsoft.AspNetCore.WebHooks.Receivers.Slack.csproj#L8-L10

For receivers ou

[2018-09-04 23:15] nnoorbakhsh commented on #323
Hi, I am seeing the dependency in the latest version of "Microsoft.AspNet.WebHooks.Custom" which is currently on 1.2.1.  I am attaching a screenshot as well directly from VS.  I hope I have posted it to the right place here!  There was no feedback link (in VS), so I clicked on the abuse link (out of frustration I have to admit, it gave me a really hard time and I lost many hours because of it), wh

[2018-09-05 04:02] dougbu commented on #323
@nnookbakhsh ah, you're talking about a WebHooks package for .NET Framework. This is an issue for the aspnet/AspNetWebHooks repo. I'll move it there&hellip;

[2018-09-05 04:04] dougbu commented on #323
This issue was moved to aspnet/AspNetWebHooks#30

[2018-09-05 04:04] #323 closed

[2018-09-06 15:39] dougbu commented on #324
@forrestab it's a low-level utility that we prefer not to expose from a WebHooks package; doesn't fit in the public API. We also had no call for this `struct` in other aspnet repos, which meant it was not a candidate for the Microsoft.Extensions.Primitives package. But, I'll ask around to see if your request is enough to reconsider including it there.

[2018-09-07 17:15] dougbu commented on #324
@forrestab there's also proposals in dotnet/corefx which seem very similar to `TrimmingTokenizer` but the roadmap isn't clear. I [asked](https://github.com/dotnet/corefx/issues/26528#issuecomment-419506321) about the timeline in dotnet/corefx#26528.

[2018-09-18 02:59] ankitbko commented on #325
Any update on this?

[2018-09-18 22:10] dougbu commented on #324
Closing given you can use the `TrimmingTokenizer` source until dotnet/corefx#26528 does the needful.

[2018-09-18 22:10] #324 closed

[2018-10-06 18:30] MartinDawson opened #326 "`.AddGitHubWebHooks();` custom secret value"
`.AddGitHubWebHooks();` seems to internally use `appsettings.json`.

It would be nice to get the value directly myself and pass it in as a parameter because I don't want to use `appsettings.json`.

Thanks!

[2018-10-10 22:04] usaadi commented on #296
Is there an available preview for custom webhook sender on myget or elsewhere?

[2018-10-10 22:13] dougbu commented on #296
@usaadi not something built in this repo. Others may certainly have forked the code and implemented sender support.

If you want sender support in general, the other option is to use Microsoft.AspNet.WebHooks.Custom and related packages. Those are available on NuGet.org. Slightly newer versions are available in the https://dotnet.myget.org/gallery/aspnetwebhooks feed.

[2018-10-12 06:03] SeanFarrow commented on #296
Given that this project has been moved to asplabs, where should we raise issues/questions?

[2018-10-12 06:05] WestDiscGolf commented on #296
Moving to asplabs is both disappointing and confusing :-(

[2018-10-17 18:51] aspnet-hello commented on #326
This issue was moved to aspnet/AspLabs#36

[2018-10-17 18:51] #326 closed

[2018-10-17 18:51] aspnet-hello commented on #325
This issue was moved to aspnet/AspLabs#37

[2018-10-17 18:51] #325 closed

[2018-10-17 18:52] aspnet-hello commented on #296
This issue was moved to aspnet/AspLabs#38

[2018-10-17 18:52] #296 closed

[2018-10-17 18:52] aspnet-hello commented on #294
This issue was moved to aspnet/AspLabs#39

[2018-10-17 18:52] #294 closed

[2018-10-17 18:52] aspnet-hello commented on #290
This issue was moved to aspnet/AspLabs#40

[2018-10-17 18:52] #290 closed

[2018-10-17 18:52] aspnet-hello commented on #289
This issue was moved to aspnet/AspLabs#41

[2018-10-17 18:52] #289 closed

[2018-10-17 18:52] aspnet-hello commented on #269
This issue was moved to aspnet/AspLabs#42

[2018-10-17 18:52] #269 closed

[2018-10-17 18:53] aspnet-hello commented on #262
This issue was moved to aspnet/AspLabs#43

[2018-10-17 18:53] #262 closed

[2018-10-17 18:53] aspnet-hello commented on #249
This issue was moved to aspnet/AspLabs#44

[2018-10-17 18:53] #249 closed

[2018-10-17 18:53] aspnet-hello commented on #247
This issue was moved to aspnet/AspLabs#45

[2018-10-17 18:53] #247 closed

[2018-10-17 18:53] aspnet-hello commented on #244
This issue was moved to aspnet/AspLabs#46

[2018-10-17 18:53] #244 closed

[2018-10-17 18:53] aspnet-hello commented on #203
This issue was moved to aspnet/AspLabs#47

[2018-10-17 18:53] #203 closed

[2018-10-17 18:54] aspnet-hello commented on #183
This issue was moved to aspnet/AspLabs#48

[2018-10-17 18:54] #183 closed

[2018-10-17 18:54] aspnet-hello commented on #182
This issue was moved to aspnet/AspLabs#49

[2018-10-17 18:54] #182 closed

[2018-10-17 18:54] aspnet-hello commented on #147
This issue was moved to aspnet/AspLabs#50

[2018-10-17 18:54] #147 closed

[2018-10-17 18:54] aspnet-hello commented on #143
This issue was moved to aspnet/AspLabs#51

[2018-10-17 18:54] #143 closed

[2018-10-17 18:54] aspnet-hello commented on #84
This issue was moved to aspnet/AspLabs#52

[2018-10-17 18:54] #84 closed

[2018-10-17 18:55] aspnet-hello commented on #77
This issue was moved to aspnet/AspLabs#53

[2018-10-17 18:55] #77 closed

[2018-10-17 18:55] aspnet-hello commented on #51
This issue was moved to aspnet/AspLabs#54

[2018-10-17 18:55] aspnet-hello commented on #28
This issue was moved to aspnet/AspLabs#55

[2018-10-17 18:55] #28 closed

[2018-10-17 18:55] aspnet-hello commented on #15
This issue was moved to aspnet/AspLabs#56

[2018-10-17 18:55] #15 closed

[2018-10-17 18:57] Eilon commented on #296
ASP.NET WebHooks issues (as well as this issue 😄 ) have moved to https://github.com/aspnet/AspLabs.